# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 1fdb6fb6681925807da551c171561ea5fc1569b3c002b1791e7abd2177fdf4bac66afc262e6571abad14f2a2ced0da4c448f426bf9724d39ba955142fca30e4b

test:
  secret_key_base: 922a507b3f85e56f4b14348d5d75d806e7e6153bfced1f2bb505c71c7e0a8a4d86dee7c48c50ee23b9a8c9a82bd58efdb101e9209c98384ebd20f25df4f6d892

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
